*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.webgl{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
/* nav{
  color: aliceblue;
  z-index: 2;
  position: relative;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* nav a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul{
  list-style: none;
  display: flex;
  gap: 4rem;
}

h1{
  color: azure;
  z-index: 2;
  position: absolute;
  font-size: 3rem;
  left: 50%;
  top: 75%;
  transform: translate(-50%,-75%);
} */

.dg{
  z-index: 2 !important;
}